{# Copyright (c) 2022 Jorge Powers #}
{# @link https://jorgeuos.github.io/ #}
{# @license https://github.com/jorgeuos/CleanPii/blob/main/LICENSE MIT License #}
{% extends 'admin.twig' %}

{% set title %}{{ 'DataExport_Minio'|translate }}{% endset %}

{% block content %}

    <div piwik-content-block content-title="{{ 'CleanPii_Manage'|translate }}">

        

    </div>


{% endblock %}

